* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.explore_Products {
  
 
    background-color: #272525;


    padding: 2rem 3rem  ;
}

.explore_Products > hr {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
}

.title {
    display: flex;
    padding-top: 1em;
    align-items: center;
    width: 20%;
    gap: 1em;
  }


.explore_Products > h2 {
    padding-top: 0.5em;
    margin-bottom: 1em;
 
}

