* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ourTeam {
  width: 100%;
  padding: 3em 3em 4rem 3rem;
  margin-bottom: 5rem;
  background-color: #272525;
}
.ourTeam > hr {
  margin-bottom: 1em;
}
.ourTeam > h1 {
  margin-bottom: 1em;
}

.ourTeam_cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  flex-wrap: wrap;
}

.member_Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.member_Card > .memImg > img {
  width: 200px;
  border-radius: 50%;
  border: 2px solid #272525;
  height: 200px;
}

.member_Card > .name {
  font-size: 1.3em;
  font-weight: 600;
  color: white;
}

.member_Card > .stack {
  color: white;
  font-size: 0.8em;
  font-weight: 600;
}
