.slider {
    width: 100%;
  
    height: 85vh;
    overflow: hidden;
  }
  .slides {
    width: 400%;
    height: 100%;
    display: flex;
  }
  .slides input {
    display: none;
  }
  .slide {
    width: 25%;
    overflow-y: hidden;
    transition: 2s;
  }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  /* css for manual navigation*/
  .navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  .manual-btn {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
  }
  .manual-btn:not(:last-child) {
    margin-right: 40px;
  }
  .manual-btn:hover {
    background-color: #ffffff;
  }
  #radio1:checked ~ .first {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -25%;
  }
  #radio3:checked ~ .first {
    margin-left: -50%;
  }
  #radio4:checked ~ .first {
    margin-left: -75%;
  }
  /*css for automatic navigation*/
  
  .navigation-auto {
   display: none;
    
  }
  .navigation-auto div {
    border: 2px solid #ffffff;
    padding: 5px;
    transition: 1s;
    border-radius: 10px;
  }
  .navigation-auto div:not(:last-child) {
    margin-right: 40px;
  }
  #radio1:checked ~ .navigation-auto-btn1 {
    background: #ffffff;
  }
  #radio2:checked ~ .navigation-auto-btn2 {
    background: #ffffff;
  }
  #radio3:checked ~ .navigation-auto-btn3 {
    background: #ffffff;
  }
  #radio4:checked ~ .navigation-auto-btn4 {
    background: #ffffff;
  }
  @media (width<760px){
    .navigation-manual{
      display: none;
    }

    .slider{
      height: 50vh;
    }
  }