* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  min-height: 400px;
  background-color: #272525;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2em;
}

.foot_container {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 4em;
  gap: 0.5em;
}

.footer_details {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.3em;
}

.footer_details > .foot_titles {
  border-bottom: 1em;
}

.copy_right {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #969393;
}

.icons_Container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.icons_Container > p {
  font-size: 1.3em;
}

.footer_Icons {
  display: flex;
  font-size: 2em;
  gap: 1em;
}

.footer_Icons > i:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.3s ease-in;
}
.fa-brands:hover {
  color: #f2ee1b !important ;
}
